@page "/"
@using GameMatcher.Components.Reusable
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration
@inject SteamService SteamService


<PageTitle>Home</PageTitle>

<h1>Welcome to the Steam Game Matcher</h1>

<p>Find games that you share in common with your Steam friends!</p>

@* <Counter IncrementAmount="10" /> *@

@* <div>
	<button @onclick="GetPlaceholderJSON">Get Placeholder JSON</button>
	<p>@responseResult</p>
</div> *@


<div class="container-sm">
	<div class="row row-cols-md-4 row-cols-2">
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<input @bind="lookupID" id="steam-lookup" placeholder="Enter steam ID" />
	<button type="button" @onclick="GetSteamUser">Search User</button>
	@* <button @onclick="GetFriends">Load Friend List</button> *@
</div>

<p>lookupID = @lookupID</p>

@if (player != null)
{
	<p>Name: @player.PersonaName</p>
	<p>Status: @status[player.PersonaState]</p>
	<img src="@player.AvatarFull" />
}

<h3>Friends Result</h3>

<div class="container-sm">
	<div class="row row-cols-lg-6 row-cols-4 g-4">
		@foreach (PlayerSummary p in friendSummaries)
		{
			<div class="col">
				<FriendCard AvatarSource="@p.AvatarFull" Name="@p.PersonaName" Status="@status[p.PersonaState]" ProfileUrl="@p.ProfileUrl"></FriendCard>
			</div>
		}
	</div>
</div>

@* <div class="container">
	<table class="table table-dark table-sm">
		<tbody>
			@for (int i = 0; i < friendSummaries.Count; i++)
			{
				<tr>
					<td>#@(i+1)</td>
					<td>@friendSummaries[i].PersonaName</td>
					<td>@status[friendSummaries[i].PersonaState]</td>
					<td><img src="@friendSummaries[i].AvatarFull" /></td>
				</tr>
			}
		</tbody>
	</table>
</div> *@

@code {
	string responseResult = "Click the button above";

	string lookupID = "76561198063946970";

	Dictionary<int, string> status = new Dictionary<int, string>()
	{
		{ 0, "Offline" },
		{ 1, "Online" },
		{ 2, "Busy" },
		{ 3, "Away" },
		{ 4, "Snooze" },
		{ 5, "Looking to trade" },
		{ 6, "Looking to play" }
	};

	PlayerSummary? player;

	// This list contains the friend's steam ID, relationship, and Unix timestamp of when they became friends with the user
	List<Friend> friendsList = new();

	// This list holds the player symmaries of the friends in the user's friend list. It is used to display the friend's name, online status, and avatar in the UI
	List<PlayerSummary> friendSummaries = new();

	private async Task GetPlaceholderJSON(MouseEventArgs args)
	{
		// The HTTP GET request we will send to the API endpoint
		using var request = new HttpRequestMessage(HttpMethod.Get,
			"https://jsonplaceholder.typicode.com/todos/1");

		// The client is used for sending HTTP requests and receiving HTTP responses from a resource identified by a URI
		var client = ClientFactory.CreateClient();

		// Send the HTTP request and get the response
		using var response = await client.SendAsync(request);

		if (response.IsSuccessStatusCode)
		{
			var responseStream = await response.Content.ReadAsStringAsync();
			responseResult = responseStream;

		}
		else
		{
			responseResult = $"Request failed with status code: {response.StatusCode.ToString()}";
		}
	}

	// Returns the player summary of the user ID supplied in the input field
	private async Task GetSteamUser(MouseEventArgs args)
	{
		player = new();
		friendsList = new();
		friendSummaries = new();

		player = await SteamService.GetPlayerSummaryAsync(lookupID);
		await GetFriends();
	}

	// Returns the friend list of the user ID supplied in the input field
	private async Task GetFriends()
	{
		friendsList = await SteamService.GetFriendListAsync(lookupID) ?? new();

		// Holds the steam IDs of the friends in batches
		// TODO: Implement batch size calculation based on the number of friends in the friend list
		List<string> friendsBatch = new();
		int batchSize = 100;

		// foreach (Friend friend in friendsList)
		for (int i = 0; i < friendsList.Count; i++)
		{
			if (friendsBatch.Count < batchSize && i != (friendsList.Count) - 1)
			{
				friendsBatch.Add(friendsList[i].SteamId);
			}

			else
			{
				var summaries = await SteamService.GetFriendSummariesAsync(friendsBatch);
				friendSummaries.AddRange(summaries ?? new());
				friendsBatch.RemoveRange(0, friendsBatch.Count);
			}
		}
	}
}
