@page "/"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration
@inject SteamService SteamService


<PageTitle>Home</PageTitle>

<h1>Welcome to the Steam Game Matcher</h1>

<p>Find games that you share in common with your Steam friends!</p>

@* <Counter IncrementAmount="10" /> *@

@* <div>
	<button @onclick="GetPlaceholderJSON">Get Placeholder JSON</button>
	<p>@responseResult</p>
</div> *@

<div>
	<input @bind="lookupID" id="steam-lookup" placeholder="Enter steam ID" />
	<button @onclick="GetSteamUser">Search User</button>
	@* <button @onclick="GetFriends">Load Friend List</button> *@
</div>

<p>lookupID = @lookupID</p>

@if (player != null)
{
	<p>Name: @player.PersonaName</p>
	<p>Status: @player.PersonaState</p>
	<img src="@player.AvatarFull" />
}

<h3>Friends Result</h3>
<table>
	@foreach (Friend friend in friendsList)
	{
		<tr>
			<td>Friend Steam ID: @friend.SteamId</td>
			<td>Relationship: @friend.Relationship</td>
			<td>Friend Since: @friend.FriendSince</td>
		</tr>
	}
</table>

@code {
	string responseResult = "Click the button above";

	string lookupID = "76561198063946970";

	PlayerSummary? player;

	List<Friend> friendsList = new();

	// This list holds the player symmaries of the friends in the user's friend list. It is used to display the friend's name and avatar in the UI.
	List<Friend> friendSummaries = new();

	private async Task GetPlaceholderJSON(MouseEventArgs args)
	{
		// The HTTP GET request we will send to the API endpoint
		using var request = new HttpRequestMessage(HttpMethod.Get,
			"https://jsonplaceholder.typicode.com/todos/1");

		// The client is used for sending HTTP requests and receiving HTTP responses from a resource identified by a URI
		var client = ClientFactory.CreateClient();

		// Send the HTTP request and get the response
		using var response = await client.SendAsync(request);

		if (response.IsSuccessStatusCode)
		{
			var responseStream = await response.Content.ReadAsStringAsync();
			responseResult = responseStream;

		}
		else
		{
			responseResult = $"Request failed with status code: {response.StatusCode.ToString()}";
		}
	}

	// Returns the player summary of the user ID supplied in the input field
	private async Task GetSteamUser(MouseEventArgs args)
	{
		player = await SteamService.GetPlayerSummaryAsync(lookupID);
		await GetFriends();
	}

	// Returns the friend list of the user ID supplied in the input field
	private async Task GetFriends()
	{
		friendsList = await SteamService.GetFriendListAsync(lookupID) ?? new();
		// foreach (Friend friend in friendsList)
		// {
		// 	await GetFriendSummary(friend.SteamId);
		// }
	}

	private async Task GetFriendSummary(string steamID)
	{
		// await SteamService.GetPlayerSummaryAsync(steamID);
	}
}
