@page "/"
@using GameMatcher.Components.Reusable
@using System.Text.RegularExpressions
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration
@inject SteamService SteamService


<PageTitle>Home</PageTitle>

<div class="container">
	<h1>Welcome to the Steam Game Matcher</h1>

	<p>Find games that you share in common with your Steam friends!</p>
</div>

@* <Counter IncrementAmount="10" /> *@

@* <div class="container-sm">
	<div class="row row-cols-md-4 row-cols-2">
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Placeholder Image" />
				<div class="card-body">
					<h2 class="card-title">Name</h2>
					<h5 class="card-subtitle">Status</h5>
					<div class="card-text">This is a card</div>
				</div>
			</div>
		</div>
	</div>
</div> *@

<div class="container">
	<p>Lookup ID = @lookupID</p>
	<input @bind="lookupID" id="steam-lookup" placeholder="Enter steam ID" />
	<button type="button" @onclick="GetSteamUser">Search User</button>
	@* <button @onclick="GetFriends">Load Friend List</button> *@
</div>


@if (player != null)
{
	@* <p>Name: @player.PersonaName</p>
	<p>Status: @status[player.PersonaState]</p>
	<img src="@player.AvatarFull" /> *@
	<UserInfo AvatarSource="@player.AvatarFull" Name="@player.PersonaName" Status="@status[player.PersonaState]" ProfileUrl="@player.ProfileUrl"></UserInfo>
}

<hr />

<div class="container">
	<div class="row row-cols-4">
		@foreach (OwnedGame game in games)
		{
			<div class="col">
				@* <p>@game.AppId | @game.Name | @(Math.Round(game.TotalPlaytime / 60.0, 1)) hours | @game.ImageHash </p> *@
				<img src="@($"https://media.steampowered.com/steamcommunity/public/images/apps/{@game.AppId}/{game.ImageHash}.jpg")" />
				<p>@game.Name</p>
				<p>@(Math.Round(game.TotalPlaytime / 60.0, 1)) hours</p>
			</div>
		}
	</div>
</div>

<div class="container-sm">
	<h3>Friends</h3>
	<div class="row row-cols-lg-6 row-cols-4 g-4">
		@foreach (PlayerSummary p in friendSummaries)
		{
			<div class="col">
				<FriendCard AvatarSource="@p.AvatarFull" Name="@p.PersonaName" Status="@status[p.PersonaState]" ProfileUrl="@p.ProfileUrl" SteamId="@p.SteamId" OnCompareCallback="GetOwnedGames"></FriendCard>
			</div>
		}
	</div>
</div>

@* <div class="container">
	<table class="table table-dark table-sm">
		<tbody>
			@for (int i = 0; i < friendSummaries.Count; i++)
			{
				<tr>
					<td>#@(i+1)</td>
					<td>@friendSummaries[i].PersonaName</td>
					<td>@status[friendSummaries[i].PersonaState]</td>
					<td><img src="@friendSummaries[i].AvatarFull" /></td>
				</tr>
			}
		</tbody>
	</table>
</div> *@

@code {
	string responseResult = "Click the button above";

	string lookupID = "76561198063946970";

	string idPattern = @"^\d{17}";

	Dictionary<int, string> status = new Dictionary<int, string>()
	{
		{ 0, "Offline" },
		{ 1, "Online" },
		{ 2, "Busy" },
		{ 3, "Away" },
		{ 4, "Snooze" },
		{ 5, "Looking to trade" },
		{ 6, "Looking to play" }
	};

	PlayerSummary? player;

	// This list contains the friend's steam ID, relationship, and Unix timestamp of when they became friends with the user
	List<Friend> friendsList = new();

	// This list holds the player symmaries of the friends in the user's friend list. It is used to display the friend's name, online status, and avatar in the UI
	List<PlayerSummary> friendSummaries = new();

	// This list holds the games app id and playtime of the game
	List<OwnedGame> games = new();

	// Returns the player summary of the user ID supplied in the input field
	private async Task GetSteamUser(MouseEventArgs args)
	{
		player = new();
		friendsList = new();
		friendSummaries = new();

		// Note: the API endpoint call stills succeeds if the 'steamid' parameter is empty, but it just returns an empty response.
		player = Regex.IsMatch(lookupID, idPattern) ? await SteamService.GetPlayerSummaryAsync(lookupID) : null;
		if (player == null)
		{
			return;
		}
		await GetFriends();
	}

	// Returns the friend list of the user ID supplied in the input field
	private async Task GetFriends()
	{
		friendsList = await SteamService.GetFriendListAsync(lookupID) ?? new();

		// Holds the steam IDs of the friends in batches
		// TODO: Implement batch size calculation based on the number of friends in the friend list
		List<string> friendsBatch = new();
		int batchSize = 100;

		// foreach (Friend friend in friendsList)
		for (int i = 0; i < friendsList.Count; i++)
		{
			if (friendsBatch.Count < batchSize && i != (friendsList.Count) - 1)
			{
				friendsBatch.Add(friendsList[i].SteamId);
			}

			else
			{
				var summaries = await SteamService.GetFriendSummariesAsync(friendsBatch);
				friendSummaries.AddRange(summaries ?? new());
				friendsBatch.RemoveRange(0, friendsBatch.Count);
			}
		}
	}

	private async Task GetOwnedGames(string steamId)
	{
		games = await SteamService.GetOwnedGamesAsync(steamId) ?? new();
	}
}
